HW: DB in Python

Add models for student, subject and student_subject from previous lessons in SQLAlchemy.

Find all students` name that visited 'English' classes.

(Optional): Rewrite queries from the previous lesson using SQLAlchemy.

In [14]:
import sqlite3
conn = sqlite3.connect('database.db')

In [55]:
# Add models for student, subject and student_subject from previous lessons in SQLAlchemy.
# student table
conn.execute("""
    CREATE TABLE IF NOT EXISTS student(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name VARCHAR(50) NOT NULL,
        age INT NOT NULL        
    );
""")

# subject            
conn.execute("""
    CREATE TABLE IF NOT EXISTS subject(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name VARCHAR(50) NOT NULL       
    );
""")

# student + subject          
conn.execute("""
    CREATE TABLE IF NOT EXISTS student_subject(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        student_id INT,
        subject_id INT,
        FOREIGN KEY (student_id) REFERENCES student(id),
        FOREIGN KEY (subject_id) REFERENCES subject(id)        
    );
""")

In [56]:
# insert data into the student table
values = [('Bill', 30),('John', 22),('Martina', 19)]
query = "INSERT INTO student(name, age) VALUES (?, ?)"

conn.executemany(query, values)

In [34]:
# insert data into the subject table
values = [('Math',), ('Science',), ('History',)]
cursor.executemany("INSERT INTO subject(name) VALUES (?)", values)

In [39]:
# insert data into the subject table
conn.executemany("""INSERT INTO student_subject(student_id, subject_id) VALUES (?, ?)""", [(1,1),(2,1), (3,3)])

In [54]:
conn.execute("""DROP TABLE student""")

In [61]:
# Find all students` name that visited 'English' classes.
cursor = conn.cursor()
query = """
    SELECT s.id, s.name 
    FROM student AS s
    JOIN student_subject AS ss ON s.id = ss.student_id
    WHERE ss.subject_id = (SELECT id FROM subject WHERE name = 'English')
    """

cursor.execute(query)
cursor.fetchall()

[(1, 'Bill'), (2, 'John')]